<!-- header -->
<%- include('../../layouts/Header.ejs') %>
<!-- navbar -->
<%- include('../../layouts/Nav.ejs') %>
<!-- carsouel -->
<%- include('../../../components/Admin/Home/carousel.ejs') %>
<div class="container my-5">
<!-- cards -->
<%- include('../../../components/Admin/Home/cards.ejs') %>
</div>
<!-- footer -->
<%- include('../../layouts/Footer.ejs') %>
