<form class="border p-5 rounded" action="/product/update/<%= product._id %>"  method="post">
  <!-- 2 column grid layout with text inputs for the first and last names -->
    <h1 class="text-center"> update</h1>
    <!-- product img -->
    <div class="my-5 d-flex justify-content-center w-100">
      <img src="/assets/uploads/<%= product.img %>" width="200" height="200"alt="" style="object-fit: contain">
    </div>
    <!-- product img -->

  <div class="col">
    <!-- name input -->
    <div class="form-outline-dark">
      <input type="text" id="form6Example2" class="form-control" name="name"  value="<%= product.name %>" />
      <label class="form-label" for="form6Example2">Product name</label>
    </div>
  <!-- brand input -->
  <div class="form-outline-dark mb-4">
    <input type="text" id="form6Example3" class="form-control" name="brand"  value="<%= product.brand %>"/>
    <label class="form-label" for="form6Example3">brand</label>
  </div>
  <!-- price input -->
  <div class="form-outline-dark mb-4">
    <input type="number" id="form6Example4" class="form-control" name="price"  value="<%= product.price %>"/>
    <label class="form-label" for="form6Example4">price</label>
  </div>

   <!-- offer input -->
  <div class="form-outline-dark mb-4">
    <input type="text" id="form6Example4" class="form-control" name="offer"  value="<%= product.offer %>"/>
    <label class="form-label" for="form6Example4">offer</label>
  </div>
  <!-- colors input -->
  <div class="form-outline-dark mb-4">
    <input type="text" id="form6Example4" class="form-control" name="avilableColors"  value="<%= product?.avilableColors.join('-') %>"/>
    <label class="form-label" for="form6Example4">avilable Colors</label>
  </div>
    <!-- sizes input -->
  <div class="form-outline-dark mb-4">
    <input type="text" id="form6Example4" class="form-control" name="avilableSizes"  value="<%= product?.avilableSizes.join('-') %>"/>
    <label class="form-label" for="form6Example4">avilable Sizes</label>
  </div>
   <!-- arrivalTime input -->
  <div class="form-outline-dark mb-4">
    <input type="text" id="form6Example4" class="form-control" name="arrivalTime" value="<%= product.arrivalTime %>" />
    <label class="form-label" for="form6Example4">arrival time</label>
  </div>

   <!-- location input -->
  <div class="form-outline-dark mb-4">
   <input type="text" id="form6Example4" class="form-control" name="location"  value="<%= product.location %>"/>
    <label class="form-label" for="form6Example4">location</label>
  </div>
   
  <!-- description input -->
  <div class="form-outline-dark mb-4">
    <textarea type="text" id="form6Example6" class="form-control" cols="80" rows="10"name="description"><%= product.description %></textarea>
    <label class="form-label" for="form6Example6">description</label>
  </div>
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4 text-light" style="background-color: #ff7e31">update</button>
</form>
